<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%# = @room.name %>
    </div>
  </div>
  <div class="right-header">
  </div>
</div>

<div class="messages">
  <%# = render partial: 'message', collection: @messages %>
    <div class='notification-contents'>
    <h2 class='title'>申請一覧</h2>
    <div class="subtitle" >
    </div>
    <ul class='notification-lists'>

        <%#  @notifications.each do |notification| %>
          <li class='list'> 
            <%# = link_to notification_path(notification.id) do %>
              <div class='notification-number-content'>
                <%#= image_tag notification.image, class: "notification-img" %>
              </div>
            <%# end %>
          </li>
        <%# end %>
      
    </ul>
  </div>
</div>

